*{
    padding: 0px;
    margin: 0px;
}

.header{
    width: 100%;
    height: 100px;
    
    }
    .content{
    margin:2px 1px;
    background-color: aquamarine;
    height: 100%;
    
    }
    .row1{
        width: 20%;
        height: 1000px;
        float: left;
        display:inline-block;
        
    }
    .boxs1{
        width: 100%;
        height: 100%;
        float: left;
        display:inline-block;
    }
    .row2{
        float: left;
        display:inline-block;
        width: 80%;
        height: 250px;
        margin-bottom: 2px;

    }
    .boxs2{
        width: 66.3%;
        height: 250px;
        float: left;

    }
    .boxs3{
        width: 33.4%;
        height: 250px;
        float: left;
        
    }
    .row3{
        margin-bottom: 2px;

        float: left;
        display:inline-block;
        width: 80%;
        height: 250px;
margin-bottom: 2px;
    }
    .boxs4{
        width: 66.3%;
        height: 250px;
        float: left;

    }
    .boxs5{
        width: 33.4%;
        height: 250px;
        float: left;
        
    }
    .row4{
        float: left;
        display:inline-block;
        width: 80%;
        height: 250px;
        margin-bottom: 2px;


    }
    .boxs6{
        width: 33.2%;
        height: 250px;
        float: left;

    }
    .boxs7{
        width: 33.2%;
        height: 250px;
        float: left;
        
    }
    .boxs8{
        width:33.2%;
        height: 250px;
        float: left;
        
    }
    .row5{
        float: left;
        display:inline-block;
        width: 80%;
        height: 250px;
    }
    .boxs9{
        
            width: 100%;
            height: 250px;
            float: left;
            
        
    }